@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #002B36;
}

a {
    color: #06989a
}

a:hover {
    color: #0cd5d9;
}

@layer utilities { 
    .text-primary {
      color: #839496;
    }
    .text-secondary {
        color: #635551;
    }
  }